@()(implicit messages: Messages, request: RequestHeader)

@import includes.searchbox

@activeClass(path: String) = @{
    if(request.uri == path) "active"
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div id="navbar">
            <ul class="nav navbar-nav">
                <li class="@activeClass(routes.HomeController.get.url)">
                    <a href="@routes.HomeController.get"><strong>BudDi</strong></a>
                </li>
                <li class="@activeClass(routes.WordController.getAll.url)">
                    <a href="@routes.WordController.getAll">Your Definitions</a>
                </li>
            </ul>
            @if(request.uri != routes.HomeController.get.url) {
                @searchbox(classAttr = "navbar-form navbar-right")
            }
        </div>
    </div>
</nav>
