@(word: String, wordForm: Form[Word])(implicit messages: Messages, request: RequestHeader)

@import b3.vertical.fieldConstructor

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/wordForm.css")">
}

@base("page-word-form", Some(s"""Define "$word""""), css = css) {
    @if(wordForm.hasGlobalErrors) {
        @for(error <- wordForm.globalErrors) {
            <div class="alert alert-danger" role="alert">@Messages(error.messages, error.args)</div>
        }
    }

    @b3.form(action = routes.WordController.edit(word), 'id -> "edit-form") {
        @b3.textarea(wordForm("definitions"))
        @b3.submit('class -> "btn btn-default") {Save}
    }
}
