@(words: Seq[Word])(implicit messages: Messages, request: RequestHeader)

@base(Some(s"Your Words")) {
    <table class="table">
        <thead>
            <tr>
                <th>Word</th>
                <th>Your Definition</th>
                <th>BudDi&apos;s Definition</th>
            </tr>
        </thead>
        <tbody>
        @for(word <- words) {
            <tr>
                <td>@word.word</td>
                <td>@word.definitions.mkString(", ")</td>
                <td><a href="@routes.WordController.get(word.word)">Ask about &quot;@word.word&quot;</a></td>
            </tr>
        }
        </tbody>
    </table>
    <p>Count: @words.length</p>
}
