@(word: String,
        lang: String,
        customOpt: Option[Word],
        wikiOpt: Option[String],
        yandexTransOpt: Option[String],
        yandexDictOpt: Option[String])(implicit flash: Flash, messages: Messages)

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/word.css")">
}

@panel(id: String, source: String, definitionsOpt: Option[Html])(actions: Html = Html("")) = {
    <div id="@id" class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="panel-title">@source</h3>
                </div>
                <div class="col-xs-6">
                    <div class="panel-actions">@actions</div>
                </div>
            </div>
        </div>
        <div class="panel-body">
        @definitionsOpt.fold {
            <em class="no-definition">No definition found.</em>
        } { definitions =>
            @definitions
        }
        </div>
    </div>
}

@asString(str: String) = {
@str
}

@asHTML(str: String) = {
@Html(str)
}

@definition(d: WordDefinition) = {
@d.definition (<em>@d.lang</em>)
}

@asCustomDef(word: Word) = {
    <dl>
    @for((lang, defs) <- word.defsToMap) {
        <dt>@lang</dt>
        <dd>
        @(defs.mkString(", "))
        </dd>
    }
    </dl>
}

@base(s"$word ($lang)", css = css) {
    @flash.get("message").fold(Html("")) { msg =>
        <div class="alert alert-success" role="alert">@msg</div>
    }

    @panel("custom-definition-panel", "Custom definition", customOpt.map(asCustomDef)) {
        <a href="@routes.WordController.editForm(word, lang)">edit</a>
    }

    @panel("wiktionary-definition-panel", "Wiktionary", wikiOpt.map(asHTML))()

    @panel("yandex-translate-definition-panel", "Yandex Translate", yandexTransOpt.map(asString))()

    @panel("yandex-dictionary-definition-panel", "Yandex Dictionary", yandexDictOpt.map(asString))()
}
