@(word: String,
        customOpt: Option[Word],
        wikiOpt: Option[String],
        yandexTransOpt: Option[String],
        yandexDictOpt: Option[String])(implicit flash: Flash, messages: Messages, request: RequestHeader)

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/word.css")">
}

@panel(id: String, source: String, definitionsOpt: Option[String], definitionsAsHTML: Boolean = false)(actions: Html = Html("")) = {
    <div id="@id" class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="panel-title">@source</h3>
                </div>
                <div class="col-xs-6">
                    <div class="panel-actions">@actions</div>
                </div>
            </div>
        </div>
        <div class="panel-body">
        @definitionsOpt.fold {
            <em class="no-definition">No definition found.</em>
        } { definitions =>
            @if(definitionsAsHTML) {
                @Html(definitions)
            } else {
                @definitions
            }
        }
        </div>
    </div>
}

@base("page-word", Some(s"$word"), css = css) {
    @flash.get("message").fold(Html("")) { msg =>
        <div class="alert alert-success" role="alert">@msg</div>
    }

    @panel("custom-definition-panel", "Your Definition", customOpt.map(_.definitions.mkString(", "))) {
        <a href="@routes.WordController.editForm(word)">edit</a>
    }

    @panel("yandex-dictionary-definition-panel", "Yandex Dictionary", yandexDictOpt)()

    @panel("wiktionary-definition-panel", "Wiktionary", wikiOpt, definitionsAsHTML = true)()
}
