@(word: String, customOpt: Option[Word], wikiOpt: Option[String])(implicit flash: Flash, messages: Messages)

@css = {
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/word.css")">
}

@panel(id: String, source: String, definitions: Seq[String])(actions: Html = Html("")) = {
    <div id="@id" class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <h3 class="panel-title">@source</h3>
                </div>
                <div class="col-xs-6">
                    <div class="panel-actions">@actions</div>
                </div>
            </div>
        </div>
        <div class="panel-body">
        @if(definitions.isEmpty) {
            <em class="no-definition">No definition found.</em>
        } else {
            @Html(definitions.mkString(", "))
        }
        </div>
    </div>
}

@base(s"$word", css = css) {
    @flash.get("message").fold(Html("")) { msg =>
        <div class="alert alert-success" role="alert">@msg</div>
    }

    @panel("custom-definition-panel", "Custom definition", customOpt.toSeq.flatMap(_.definitions)) {
        <a href="@routes.WordController.editForm(word)">edit</a>
    }

    @panel("wiki-definition-panel", "Wiktionary", wikiOpt.toSeq)()
}
